*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

:root {
    --dark-bg: #1f2937;
    --secondary: #e5e7eb;
    --main-txt: #f9faf8;
    --button: #3882f6;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap:20px
}

.body {
    flex: 1;
    padding: 16px;
}

/*TEST*/
.body > * {
    border: solid 1px red;
}
header > * {
    border: solid 1px;
}
.wrapper > * {
    border: solid 1px;
} 
.wrapper {
    border: solid 1px orange;
}
/*TEST*/
